<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin || Patient</title>
</head>
<body>
 
  
<h2>Patients</h2>
<div class="mb-3">
  <a href="/admin/patients/add" class="btn btn-success">Add New Patient</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% patients.forEach(patient => { %>
      <tr>
        <td><%= patient.firstName %> <%= patient.lastName %></td>
        <td><%= patient.dob %></td>
        <td><%= patient.category %></td>
        <td><%= patient.phoneNumber %></td>
        <td><%= patient.address %></td>
        <td>
          <a href="/admin/patients/edit/<%= patient._id %>" class="btn btn-primary btn-sm">Edit</a>
          <a href="/admin/patients/delete/<%= patient._id %>" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
</body>
</html>